<!DOCTYPE html>
<script> 
    
    window.setInterval(()=> {location.reload();}, 60000);//1 segundo == 1000    
</script>
	<title>Volcan de Fuego</title>
	<head lang="en">
		<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
 		<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
		<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
 		<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

		{{ script | safe }}
</head>
<body>
	<hr>
	<div class="container"align="center">
	 <h1 class="text-center">Actividad Volcan de Fuego</h1>
		{{ div | safe }}
	</div>
	<hr>
</body>
</html>
